.bold {
    font-weight: bold;
    font-size: 1.2rem;
}

.container {
    display: flex;
    height: 100vh;
}

.controls {
    width: 25%;
    padding: 2rem;
    background: white;
    color: #000;
    margin: 0;
}

.map {
    width: 75%;
    height: 100vh;
}

.map-container {
    width: 100%;
    height: 90vh;
}

.combobox-input {
    width: 50%;
    min-width: 20em;
    padding: 0.5rem;
}

.form-control {
    width: 25em;
    min-width: 50%;
    margin: 0 auto;
}

.button {
    padding: 10px;
}

.address {
    padding: 10px;
}

.list {
    height: '75vh';
    overflow: 'auto';
    position: absolute;
    top: 100px;
}